<h1>My Profile</h1>

    ID: {{user.id}}<br />
    Display Name: {{user.displayName}}<br />
    User Principle Name: {{user.userPrincipalName}}<br />
    Given Name: {{user.givenName}}<br />
    Email: {{user.mail}}<br />
    Job Title: {{user.jobTitle}}<br />
    Mobile Phone: {{user.mobileNumber}}<br /><br />
    Skill Level:{{user.extension_e349ae095d944f69bbc006c6bc65d679_experience}}<br />
    Skillset: {{user.extension_e349ae095d944f69bbc006c6bc65d679_customAttribute}}<br />
    
    Set skill: <a href="/currentUser/setskillset/node">Set Node JS to skill</a>
    Set skill: <a href="/currentUser/setskillset/angular">Set Angular JS to skill</a>


<br />
<a href="/">Go back</a>